.social{
    background-image: url('https://cdn.pixabay.com/photo/2020/07/27/14/34/forest-5442598_1280.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.socialtitle{
    font-size: 5rem;
}