#pronavitem{
    color: rgb(0, 0, 0);
}
.prohomediv{
    background-image:url("https://img.freepik.com/premium-vector/blue-white-wave-background-soft-background_41084-560.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
#pronavitem:hover{
    color: rgb(255, 146, 4);
}
.proaboutdiv{
    background-image:url("https://img.freepik.com/premium-vector/blue-white-wave-background-soft-background_41084-562.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
}
.procertificationdiv{
    background-image: url("https://img.freepik.com/premium-vector/abstract-gradients-blue-waves_29865-2267.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
}
.proeducationdiv{
    background-image: url("https://img.freepik.com/premium-vector/soft-blue-wave-background_41084-434.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
}
.proskillsdiv{
    background-image: url("https://img.freepik.com/free-vector/blue-curve-frame-template-vector_53876-111537.jpg?t=st=1697252167~exp=1697252767~hmac=437e3c2bb4cb8206dcf6639bf53f8b93b12211be00176ace5ab0331198253703");
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
}

.procontactdiv{
    background-image: url("https://img.freepik.com/premium-vector/blue-white-abstract-background-with-wave-abstract-poster-banner_41084-538.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:fit-content;
   
}
.prohomecontent{
    padding-top: 15%;
}


.proedu{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25px;
    background-color: rgb(150, 146, 146);
    color: rgb(1, 1, 50);
    
}
.proedu:hover{
    box-shadow: 5px 5px 5px rgb(0, 17, 129);
    transform: scale(1.05);

}
.proeduhead{
    text-shadow: 3px 3px 3px rgb(0, 81, 255);

}
.proabouthead{
    text-shadow: 2px 3px 3px rgb(86, 125, 251);
   
}
.proabouthead:hover{
    transform: scale(1.1);
}
.myimage:hover{
 transform: scale(1.1);
 box-shadow: 15px 10px 10px rgb(255, 145, 145);
 opacity: 1;
}
.myimage{
    opacity: 1;
}
.promyname{
    text-shadow: 5px 5px 3px rgb(255, 255, 104);
}
.promyname1{
    text-shadow: 3px 3px 3px rgb(194, 255, 176);
}
.techskills{
    border: 2px solid white;
    border-radius: 25px;
    background-color:rgba(19, 0, 128, 0.605);
    
}
.techskillsdiv{
    border-radius: 25px;
    height: fit-content;
    background-color: aqua;
}
.techskills:hover{
    box-shadow: 10px 10px 5px black;
    transform: scale(1.1);
}
.protechname{
    text-shadow: 5px 5px 5px rgb(165, 89, 42);
}

.nav-item{
    color:white;
    border-radius: 25px;
   
}
#span1{
    color:white; 
   
}
.profooterdiv{
    margin-top: 10%; 
    border: 2px solid black;
    border-radius: 25px;
    background-color: rgb(67, 67, 67);
}
.profooterdiv:hover{
    box-shadow: 10px 10px 10px white;
    transform: scale(1.01);
}

.procer{
   
    border: 2px solid black;
    padding: 5px;
    background-color: rgb(92, 92, 92);
    opacity: 1;
    border-top-right-radius: 60%;
}
.procer:hover{
    box-shadow: 10px 10px 10px rgb(238, 0, 255);
    transform: scale(1.0);
    opacity: 1;
}
.procerimage:hover{
    transform: scale(1.5);
    opacity: 1;
}
.proemojilink:hover{
    transform: scale(1.5);
}
.homenavdiv{
   background-color:rgba(0, 0, 255, 0.372);
}

